<div class="container-fluid">
{{msg}}
<div class="row top-50">
<div class="col-sm-12 col-md-9 col-lg-9" style="margin-left: 200px">
  <a id="logout" (click)="logout()">logout</a>

  <form [formGroup]="createpostForm" (ngSubmit)="onSubmit()"> 
      <div class="heading"> 
          <label for="heading">Heading 
            <span *ngIf="createpostForm.get('heading').hasError('required')" class="color-red">*</span>
          </label>  
          <input type="text" formControlName="heading" placeholder="Heading">
          <span *ngIf="createpostForm.get('heading').hasError('pattern')" class="color-red error-msg">
            Please provide a heading
          </span>
      </div>
      <div class="tags">
          <label for="tags">Tags
            <span *ngIf="createpostForm.get('tags').hasError('required')" class="color-red">*</span>
          </label>  
          <input type="text" formControlName="tags" placeholder="Tags">
          <span *ngIf="createpostForm.get('tags').hasError('pattern')" class="color-red error-msg">
            Please provide the tags
          </span>
      </div>
      <div class="content">
          <label for="content">Content 
            <span *ngIf="createpostForm.get('content').hasError('required')" class="color-red">*</span>
          </label>
          <br>
          <textarea formControlName="content" placeholder="Write something useful.." style="height: 200px"></textarea>
      </div>
      <input type="submit" value="Post something useful to the world" [ngClass]="{'disable-btn':!createpostForm.valid}" [disabled]="!createpostForm.valid">     
    </form>
</div>
</div>
</div>