<div class="container">
    <div class="titleBanner">
        <div class="container">
        About Us
        </div>
    </div>
    <hr>
    <p><em>geekOstack</em> is a platform where a network of software engineers are willing to train
        the users about various technologies and are open for project collabration. our main aim is
        to help each other grow and get trained to build good software products.</p>
    <h3>Vision</h3>
    <p>To provide a platform where one can build thier skills efficiently and will be able to utilize 
        the skills, for advancing their careers</p>
    <h3>Mission</h3>
    <p>To provide the quality and concise knowledge base, so that people can improve on their
        skillsets. create a environment of knowledge sharing, so that everyone can learn something
        from the platform. 
      </p> 
</div>